
!!! 5
%html
  %head
    %title Just another quote
    %meta(charset="UTF-8")
    %meta(name="description" content="")
    %meta(name="author" content="")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %link(rel="shortcut icon" href="./images/favicon.ico")
    %link(rel="apple-touch-icon" href="./images/apple-touch-icon.png")
    %link(rel="stylesheet" href="./css/reset.css" type="text/css" media="all")
    %link(rel="stylesheet" href="./css/common.css" type="text/css" media="all")
   	%script(type="text/javascript" src="./jquery-1.5.min.js")
   	%script(type="text/javascript" src="./common.js")    
            
  %body.gradient
    .wrapper
      .container
        .languageSelector
        .quoteContainder
          .quote
             %form
               %textarea
                 Hello      
                                                                                      
    .footer
      %a#saveLink(href="#")
        Сохранить
      %a#cancelLink(href="#")
        Отмена
      %img#ajaxLoader(src="./images/ajaxLoader.gif")
    .helpDiv