
!!! 5
%html
  %head
    %title Just another quote
    %meta(charset="UTF-8")
    %meta(name="description" content="")
    %meta(name="author" content="")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %link(rel="shortcut icon" href="./public/images/favicon.ico")
    %link(rel="apple-touch-icon" href="./public/images/apple-touch-icon.png")
    %link(rel="stylesheet" href="./public/css/reset.css" type="text/css" media="all")
    %link(rel="stylesheet" href="./public/css/common.css" type="text/css" media="all")
   	%script(type="text/javascript" src="./public/jquery-1.5.min.js")
   	%script(type="text/javascript" src="./public/jquery.jplayer.min.js")
   	%script(type="text/javascript" src="./public/quotes.js")      
      
  %body.gradient
    .wrapper
      .container
        .languageSelector
        .quoteContainder
          .quote
            .quoteText
            .quoteSource
            #jPlayer
            .jp-audio
              .jp-type-single
                #jp_interface_1.jp-interface
                  %ul.jp-controls
                    %li
                      %a.jp-play &play.start;
                    %li
                      %a.jp-pause &play.pause;                                        
                  .jp-current-time 
                  .jp-duration                                                                                              
    .footer
      %a#nextQuoteLink(href="#")
        ...
      %a#helpLink(href="#")
        ?
      %img#ajaxLoader(src="./public/images/ajaxLoader.gif")
    .helpDiv