
!!! 5
%html
  %head
    %title Just another quote
    %meta(charset="UTF-8")
    %meta(name="description" content="")
    %meta(name="author" content="")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %link(rel="shortcut icon" href="./images/favicon.ico")
    %link(rel="apple-touch-icon" href="./images/apple-touch-icon.png")
    %link(rel="stylesheet" href="./css/reset.css" type="text/css" media="all")
    %link(rel="stylesheet" href="./css/common.css" type="text/css" media="all")
   	%script(type="text/javascript" src="./jquery-1.5.min.js")
   	%script(type="text/javascript" src="./jquery.jplayer.min.js")
   	%script(type="text/javascript" src="./common.js")    
   	%script(type="text/javascript" src="./quotes.js")      
      
  %body.gradient
    .wrapper
      .container
        .languageSelector
        .quoteContainder
          .quote
            .quoteText
            .quoteSource
            #jPlayer
            .jp-audio
              .jp-type-single
                .jp-interface#jp_interface_1
                  .jp-play
                    %img(src="./images/control_play.png")
                  .jp-pause
                    %img(src="./images/control_pause.png")
                  .jp-progress
                    .jp-seek-bar
                      .jp-play-bar
                        .jp-current-time
                  .jp-duration                                                                                              
    .footer
      %a.whenDownloadHide#nextQuoteLink(href="#")
        ...
      %a#helpLink(href="#")
        ?
      %img.whenDownloadShow#ajaxLoader(src="./images/ajaxLoader.gif")
    .helpDiv